[2013-08-01 10:09] daenney opened #1 "Put documentation up on RTD"

[2013-08-01 10:10] daenney opened #2 "Have tests running on Travis"

[2013-08-01 10:10] daenney opened #3 "Stop fussing over everything and just release!"

[2013-08-01 10:11] daenney opened #4 "Stop fussing over everything and just release!"

[2013-08-01 10:12] #3 closed, assigned to nobody

[2013-08-01 11:04] daenney opened #5 "Rework errors"
Errors is currently a mess. Need to figure out a good structure and in which cases what errors should be raised.

[2013-08-01 11:06] daenney opened #6 "Move _url() to API"
Currently ``_url()`` is in ``BaseAPI`` but it contains too much version specific knowledge about things as endpoints it shouldn't concern itself with.

``_url()`` should get an API specific implementation.

[2013-08-01 11:07] daenney opened #7 "Get experimental_endpoints out of BaseAPI"
`BaseAPI` currently holds the `experimental_endpoints` dictionary but it shouldn't.

Similarly to #6 it's API's job to keep track of that.

[2013-08-01 12:16] daenney opened #8 "setup.py/cfg and publication on PyPi"
Need to create a `setup.py` and `setup.cfg` so people can just `python setup.py install` and have everything taken care for them.

Once that works, activate the Github PyPI web hook.

[2013-08-05 11:04] #8 closed, assigned to daenney

[2013-08-12 14:33] daenney opened #9 "Remove pytz"
Currently we depend on pytz to transform the date-time-string into a timezone-aware date-time object. However, pytz is rather big and significantly increases import time when loaded from an egg.

Since we'll always get UTC data from PuppetDB perhaps we could suffice with returning a naive UTC date time object and if the user then wants to use pytz to do more they can do so themselves.

[2013-08-12 14:54] #9 closed, assigned to nobody

[2013-08-12 17:32] #4 closed, assigned to daenney

[2013-08-12 17:33] #1 closed, assigned to daenney

[2013-09-24 09:16] daenney opened #10 "connect() doesn't pass along timeout"
The `connect()` method doesn't pass along the timeout setting.

[2013-09-24 09:22] #10 closed, assigned to nobody

[2013-10-01 07:04] daenney opened #11 "Support PuppetDB 1.5"
PuppetDB 1.5 has been releases introducing the v3 API and paging to most endpoints.

[2013-10-01 11:21] jantman opened #12 "support puppetdb 1.5.0 and new query api v3"
puppetDB 1.5.0 was released... yesterday?... and includes a new query API (v3). Among other things, reports, events, and some other endpoints seem to have moved out of "experimental" status.

Within the next 2 weeks, I should have some time to dedicate to helping with this, if you'd like.

[2013-10-01 18:40] #11 closed, assigned to nobody

[2013-10-21 10:18] #7 closed, assigned to daenney

[2014-05-31 10:09] daenney opened #30 "RFC: new API"
I've been rethinking the pypuppetdb API and how much work it is to support new endpoints and new options. I came up with a new design that I like far more and is far more flexible. It currently works like this:

[code]

So far this is mostly the same except for that `client.ssl` is now a dict with its settings combined.

Now, to query an endpoint:

[code]

The `.endpoint()` and `.path()` methods o

[2014-06-02 06:58] href opened #31 "Add a way to pass arguments to the requests library"
We keep our PuppetDB API behind HTTP Basic Auth (with https). As far as I can see there's no possibility for us to use this API. It would be nice if there was a way to pass custom arguments to the requests library for this purpose.

I think this would go nicely with the newly proposed API:

    client = Client(address='https://api.example.org', auth=('user', 'pass'))

[2014-06-18 18:26] jantman opened #32 "support puppetdb 2.x and new v4 experimental API"
I'm using it already, didn't see an issue for it, so I figured I'd create one.

[2014-06-18 18:29] jantman opened #33 "support additional event properties"
There are a number of properties in the v3 Events endpoint (http://docs.puppetlabs.com/puppetdb/2.0/api/query/v3/events.html) that don't seem to be stored in the Event type:

* containing-class
* file
* line

Support for these would be nice, especially "containing-class". I don't know if I'll get around to a PR for this, but I'll try.

[2014-07-02 13:18] dkerratfanduel opened #35 "Ca certificates"
Hi there.

Currently pypuppetdb documentation around ssl is little misleading.

I followed your instructions to the letter but could not enable ssl verification.

The issue lay around what ca file was being used to verify the request.

I had installed pypuppetdb into a venv and found that the CA_BUNDLE being used was one within the venv and not the system ca file.

If I passed the ca file explicit

[2015-01-02 15:29] robinbowes opened #43 "Spec file for RH-flavour distros"
I've crafted a spec file to build an RPM named ```python-pypuppetdb``` which should work on most RH-flavour distros, but will need some later packages building.

I have tested it on CentOS 7 - it needed a later version of ```python-requests``` building from Fedora 21.

All RPMs are in my repo at http://repo.yo61.com/el/7

Currently trying to figure put how to attach a file to this issue...

[2015-01-02 15:40] robinbowes commented on #43
I've done this as a PR - closing this issue.

[2015-01-02 15:40] #43 closed

[2015-03-01 14:19] hggh commented on #32
hey, any news on v4 support? v4 has better environment support.

[2015-03-01 17:49] daenney commented on #32
It's being worked on but the addition of environment support means that some assumptions we made about how we could retrieve resources and construct queries aren't valid anymore.

[2015-03-04 23:47] gapotts opened #48 "V3 API not correctly returning noop status from latest event."
I discovered this problem when I noticed puppetboard did not properly return a noop status on some of my nodes. When I run the pypuppetdb commands from the command line I see the same behavior, but when I query the puppetdb using curl I clearly see the noop status in the appropriate events.

[2015-03-05 08:25] daenney commented on #48
Can you show some examples?

[2015-03-06 22:29] shanedroid opened #49 "Facts not showing the actual value."
I am trying to use pypuppetdb to write a simple script to notify others of certain facts on certain nodes. My script is as follows:

https://gist.github.com/anonymous/acc90a6c22533aa9485f

When I run the script, I get an output consisting of the fact name and the fact certname (node-name). Looking at how the facts method is used it appears as though the value should be returned as well?

https://g

[2015-03-06 23:29] daenney commented on #49
That's because you need to access `fact.name` and `fact.value`. Printing `fact` just gives you the object, in this case the `__str__` or `__unicode__` representation which is made up of the hostname we fetched the fact from and the fact name itself.

[2015-03-06 23:29] #49 closed

[2015-03-09 20:54] gapotts commented on #48
Look at what is reported for pup007.xxx.com below, and compare to the curl output:

Emulating how puppetboard calls pypuppetdb:

...   print node, node.status
...
db003.xxx.com changed
db004.xxx.com changed
pup002.xxx.com changed
pup003.xxx.com changed
pup004.xxx.com changed
pup005.xxx.com changed
pup006.xxx.com changed
pup007.xxx.com None

Using curl:

[root@pup005 ~]# curl -G 'http://localhost:8

[2015-03-10 02:29] shanedroid commented on #49
Thank you - did not realize that at first , works perfectly - rtm :)

[2015-03-10 09:43] daenney commented on #48
Mmm, curious. I thought we handled that. I'll look into it.

[2015-04-20 15:41] daenney opened #50 "Maintaining pypuppetdb - looking for volunteers"
Though it pains me to write this I am no longer able to maintain pypuppetdb.

I have commitments to many open source projects which at this point means I am spread to thin. Paired with no longer having a need to develop this project on a personal or professional basis it has slipped further and further. This is harmful to the project and its continuity.

There are however plenty of people and orga

[2015-04-20 15:43] daenney commented on #50
This relates to puppet-community/puppetboard#132.

[2015-04-30 17:14] Poil opened #51 "Get total"
Hi,

I'm trying to get the total of nodes after this simple query

[code]

But nodes doesn't seem to have "include_total" to True, is there anyway to have it ?

Best regards,

[2015-05-10 11:56] fgimian commented on #33
This is now supported via commit https://github.com/puppet-community/pypuppetdb/commit/cf38890e2954897bb8b044853ffccfe79c783393 :smile:

[2015-05-10 11:56] #33 closed

[2015-05-10 11:59] fgimian commented on #31
I've implemented support for basic auth via commit https://github.com/puppet-community/pypuppetdb/commit/878e2331ef8fd76447f88d930590d9bdd9798de8.  I don't really feel there are any other kwargs you'll need to pass in, so hopefully this covers it :smile:

Cheers
Fotis

[2015-05-10 11:59] #31 closed

[2015-05-10 12:05] fgimian commented on #51
Sure, this is easy to do :smile:

[code]

Keep in mind that nodes returns a generator, so you must explicitly convert it to a list to let the generator complete its iterations and then use the `len` function to count the entries received.

Cheers
Fotis

[2015-05-10 12:05] #51 closed

[2015-05-10 12:07] #2 closed

[2015-07-24 09:02] thabend0r opened #54 "Support puppetdb 3.0 and new v4 api"
Currently pypuppet breaks with the new puppetdb api

endpoints have changed and paths have changed

https://docs.puppetlabs.com/puppetdb/3.0/api/query/v4/upgrading-from-v3.html

[2015-08-19 01:51] corey-hammerton commented on #54
Just opened https://github.com/puppet-community/pypuppetdb/pull/55 to achieve just that

[2015-08-20 08:19] thabend0r commented on #54
Great :D any details when pull request will be honored?

[2015-08-21 15:42] corey-hammerton commented on #54
Since I'm a contributor and not a maintainer I do not know. But a release of this should also come with a release of puppetboard to either install specific versions and/or have pull PuppetDB 3.0 support

[2015-08-25 14:37] corey-hammerton commented on #54
Also, since I'm now doing more intensive testing and working on the puppetboard project more development work and therefore commits will be submitted. Therefore I have closed https://github.com/puppet-community/pypuppetdb/pull/55 until I've finished by work with the puppetboard

[2015-09-03 17:54] corey-hammerton commented on #50
I volunteer myself to be a maintainer.

I am working on this project and the puppetboard project, in forks, to make it compatible with puppetdb 3.x and working on that has given me new ideas on the future of the projects. While I lack a diverse set of testing environments and experience working in python I hope that I can learn and grow from these projects

I do not have a PyPi username at the pre

[2015-09-04 12:53] daenney commented on #50
Works for me. I've added you to the necessary project teams. Use your new-found power carefully and discuss any major changes with other collaborators first :smile:.

[2015-09-04 14:01] corey-hammerton commented on #50
@daenney My PyPi username is coreyhammerton

[2015-09-16 03:44] Jmeyering commented on #54
Subscribing, Any word on progress here?

[2015-09-16 13:10] corey-hammerton commented on #54
https://github.com/puppet-community/pypuppetdb/pull/57 has been opened. Awaiting review and further testing.

[2015-10-16 18:07] corey-hammerton commented on #50
*nudge* for PyPi permissions

[2015-10-16 21:17] daenney commented on #50
Done, you have access now.

[2015-10-16 21:17] #50 closed

[2015-10-27 19:58] corey-hammerton commented on #54
PuppetDB 3.x support is implemented in 0.2.0. Backwards compatibility with older versions is removed.

[2015-10-27 19:58] #54 closed

[2015-10-27 20:01] corey-hammerton commented on #48
The response format of the reports endpoint now returns a noop flag to determine if this report was run in a noop mode.

With PyPuppetDB 0.2.0 we set ``pypuppetdb.types.Report.status`` to 'noop' if this flag is true, keep it to the regular status field otherwise. This has been tested and verified.

[2015-10-27 20:01] #48 closed

[2015-10-27 20:01] #32 closed

[2015-10-27 20:02] #12 closed

[2015-10-27 20:03] corey-hammerton commented on #6
With the 0.2.0 release all API specific implementations have been removed for ease of management reasons.

[2015-10-27 20:03] #6 closed

[2015-11-02 08:53] daenney opened #60 "PuppetDB 3.2"
* Support PuppetDB query params as POST body, to allow for arbitrarily long queries. Previously some clients and proxy servers were truncating or failing on large queries supplied in a GET request. (PDB-1359)
* Added new code_id field in preparation for new filesync service. (PDB-1810)
* Introduce latest_report_status and latest_report_hash to the nodes entity, as projected from the a nodes latest

[2015-11-04 13:21] daenney commented on #50
@corey-hammerton I really need you to start being available in at least #puppetboard on Freenode and preferably also #puppet-community. People need support sometimes when things go wrong but have no way of reaching the maintainer. That's not a good experience.

[2015-11-10 14:56] corey-hammerton commented on #60
All points listed in the description EXCEPT the last one can be implemented in this project.

The extract with no sub-expression point can only be applied to the clients.

[2015-12-27 20:40] #60 closed

[2016-03-29 16:07] erikanderson opened #66 "Support puppetdb 4.x"
Tied to https://github.com/voxpupuli/puppetboard/issues/224

https://docs.puppetlabs.com/puppetdb/4.0/api/metrics/v1/changes-from-puppetdb-v3.html

[2016-04-08 16:17] olavmrk opened #67 "Missing urlencode of fact values"
When looking up nodes by fact values using `db.facts(name, value)`, pypuppetdb doesn't encode the value in the request URL, which results in PuppetDB returning a "404 Not Found" error.

For example:
[code]
triggers the following exception:
[code]

If we manually escape the value, it works:
[code]
prints:
[code]

[2016-04-19 01:21] corey-hammerton commented on #66
Metrics changes are applicable to the PuppetBoard project and do not apply here.

[2016-04-19 02:51] corey-hammerton opened #70 "Update Documentation"
None of the files under /docs/ have been updated since v0.1.1

[2016-04-21 00:33] corey-hammerton opened #71 "Remove Sudo from .travis.yml"
From each travis build:

This job is running on container-based infrastructure, which does not allow use of 'sudo', setuid and setguid executables.
If you require sudo, add 'sudo: required' to your .travis.yml
See https://docs.travis-ci.com/user/workers/container-based-infrastructure/ for details.

[2016-04-23 23:47] #66 closed

[2016-04-23 23:48] #71 closed

[2016-04-23 23:54] #70 closed

[2016-04-25 23:29] corey-hammerton opened #75 "Decommission :class:`pypuppetdb.types.Report`.events()"
Add a deprecation warning for this function and replace it with an events variable using the information already provided by the report's expanded events field.

[2016-05-04 18:31] corey-hammerton opened #77 "Query Operator Filters"
Some products exist that allow front end code to create query filters/criteria without rendering those queries in the source code through various conditional statements, string concatenation, etc. It might be programmatically safer to create a series of small objects than it is to piece together a potentially long string.

One possible use case in PuppetBoard: Instead of building one query based o

[2016-05-05 01:59] #75 closed

[2016-05-06 14:39] corey-hammerton opened #78 "ReadTheDocs Access"
Can you please change the ownership of https://readthedocs.org/projects/pypuppetdb/ to username coreyh

[2016-05-06 15:16] corey-hammerton opened #79 "Move test-requirements.txt back to requirements.txt"
There are more references to requirements.txt than test-requirements.txt in our source code and in other systems we both currently use and could potentially use.

[2016-05-07 20:34] #79 closed

[2016-05-08 09:56] daenney commented on #78
Done.

[2016-05-08 09:56] #78 closed

[2016-05-10 01:27] corey-hammerton opened #81 "Reports Endpoint Resource Events Nullable"
Un-mentioned in PuppetDB documentation for the Reports endpoint if a report is unchanged it was assumed that the expanded resource events field data would return an empty list. It returns null.

Patch code so that the :class:`pypuppetdb.types.Report.events` always sets an empty list instead of a NoneType

[2016-05-11 19:14] betorvs opened #84 "after upgrade to 0.2.2 error in puppetboard version 0.1.3"
Hi all,

I create this ticket https://github.com/voxpupuli/puppetboard/issues/238, and after run the downgrade (pip install -I pypuppetdb==0.2.1), the puppetboard start show facts.

Any ideas?

This is log in puppetboard:
[Wed May 11 18:08:17.643928 2016] [:error] [pid 29196:tid 139886690535168] ERROR:puppetboard.app:Exception on /fact/architecture [GET]
[Wed May 11 18:08:17.643963 2016] [:error]

[2016-05-11 19:47] corey-hammerton commented on #84
This bug was caused by https://github.com/voxpupuli/pypuppetdb/pull/68

[2016-05-12 13:59] bbraunstein commented on #84
Also receiving similar errors.

Python2.6
PyPuppetDB 0.2.2
PuppetBoard 0.1.3
PuppetDB 4.0.2

[Thu May 12 09:37:52 2016] [error] ERROR:puppetboard.app:Exception on /node/node.example.com [GET]
[Thu May 12 09:37:52 2016] [error] Traceback (most recent call last):
[Thu May 12 09:37:52 2016] [error]   File "/usr/lib/python2.6/site-packages/flask/app.py", line 1817, in wsgi_app
[Thu May 12 09:37:52 201

[2016-05-12 14:01] corey-hammerton commented on #84
@bbraunstein Please downgrade pypuppetdb to 0.2.1

[2016-05-12 14:35] bbraunstein commented on #84
@corey-hammerton Does pypuppetdb 0.2.1 support PuppetDB >4.0.0 ? Or is the .1 just a minor version?

[2016-05-12 14:40] corey-hammerton commented on #84
pypuppetdb 0.2.1 does support PuppetDB 4.0 with only minor differences. Those additions were added in https://github.com/voxpupuli/pypuppetdb/commit/3449fdafe1fb39088a28cb647d216061d3ce1fd9.

I will merge all the PRs in the 0.2.3 milestone and release this as soon as I can.

[2016-05-12 17:29] corey-hammerton commented on #67
Will have to replace the original solution with urllib quote.

[2016-05-16 19:55] corey-hammerton commented on #84
This bug is related to https://github.com/voxpupuli/pypuppetdb/issues/67

[2016-05-17 00:02] #81 closed

[2016-05-17 00:37] #84 closed

[2016-05-17 00:37] #67 closed

[2016-05-19 20:00] corey-hammerton opened #87 "Add Support for PuppetDB 4.1.0 New Features"
Some excerpts from https://docs.puppet.com/puppetdb/4.1/release_notes.html#section

- Added the ability to use latest_report? when querying the older event query endpoints
- Added a cached_catalog_status field to the nodes endpoint
- Added a latest_report_noop field to the nodes endpoint

[2016-05-20 20:29] corey-hammerton opened #88 "Move pypuppetdb/api/__init__.py to pypuppetdb/BaseAPI.py"
Since we no longer support API versioning there is little point in maintaining the `api` directory under `pypuppetdb`. Theremore we should move the file `pypuppetdb/api/__init__.py` to `pypuppetdb/BaseAPI.py`

All references to `pypuppetdb.api.BaseAPI()` will have to be updated to `pypuppetdb.BaseAPI()`

[2016-05-24 22:57] #87 closed

[2016-05-31 00:20] #88 closed

[2016-06-11 21:54] #77 closed

[2016-06-18 21:24] bootc opened #95 "Query builder changes make all nodes "unresponsive""
Somehow, 564f7da1742c66123eaa44a18235c8402a1f7fb8 ("Query builder (#92)") causes PuppetBoard to show all nodes as unresponsive. Reverting this single commit fixes the issue.

All the nodes show the correct time for the last report, but the node status is always "unresponsive" regardless of the checkin time.

[2016-06-18 21:27] bootc opened #96 "latest_report_noop not fully removed"
I noticed while investigating #95 that b768e129f1fc8de6557014e1768893ccfb948bd8 ("pypuppetdb/types.py: Removing the latest_report_noop variable from th…") is incomplete: [pypuppetdb/api.py line 410](https://github.com/voxpupuli/pypuppetdb/blob/b768e129f1fc8de6557014e1768893ccfb948bd8/pypuppetdb/api.py#L410) still refers to the `latest_report_noop` variable.

I originally thought this might be the

[2016-06-19 21:03] corey-hammerton commented on #95
This is more likely caused by some of the code cleaned up in https://github.com/voxpupuli/pypuppetdb/pull/89

[2016-06-20 13:29] corey-hammerton commented on #96
latest_report_noop was only removed from the Node type. It is only used now to determine if the latest report was run with `--noop`

[2016-06-20 13:29] #96 closed

[2016-06-21 01:06] #95 closed

[2016-06-21 07:03] bootc commented on #95
Thanks Corey, I can confirm that fixes the bug.

[2016-06-21 21:29] jrdiniz commented on #84
After upgrade puppetboard stop to work

Traceback (most recent call last):
[Tue Jun 21 18:07:42 2016] [error]    File "/usr/lib/python2.6/site-packages/flask/app.py", line 1836, in __call__
[Tue Jun 21 18:07:42 2016] [error]      return self.wsgi_app(environ, start_response)
[Tue Jun 21 18:07:42 2016] [error]    File "/usr/lib/python2.6/site-packages/flask/app.py", line 1820, in wsgi_app
[Tue Jun

[2016-06-21 21:53] corey-hammerton commented on #84
@jrdiniz What version of PuppetDB are you running?

Puppetboard 0.1.x only supports PuppetDB 3.x

[2016-08-17 14:08] corey-hammerton opened #101 "PuppetDB 4.2.0 Features"
Update the API to provide functionality to new features listed in the [PuppetDB Changelog](https://docs.puppet.com/puppetdb/4.2/release_notes.html#section)
- New endpoint function, and possibly type, for the new Inventory Endpoint
- Add a `producer` field to the Catalog and Report types. This field represents the certname of the Puppet Master that sent the catalog/report to PuppetDB
- (Open for di

[2016-08-30 13:24] cintiadr opened #103 "noop puppet runs with no changes reporting as 'noop' instead of 'unchanged' for puppetdb > 4.1.0"
Scenario: puppet is running as --noop every 30 minutes, and so far they were being reported in puppetboard as 'unchanged'; which is exactly what I expected, as no 'noops' events existed. It was pypuppetdb 0.3.1, puppetdb 4.0.x.

Something example code to reproduce it:
[code]

Looking at https://github.com/voxpupuli/pypuppetdb/blob/master/pypuppetdb/api.py#L413, it appears that I was getting in the

[2016-08-30 15:46] corey-hammerton commented on #103
And now I'm convinced to add `noop_pending to the various types. Please see #101

[2016-08-31 00:55] cintiadr commented on #103
If I understood it correctly, the logic for puppetdb < 4.1.0 is:

On noop runs:
  - failed: something quite unhappy happened here, like a wrong resource status test
  - noop: run with pending items
  - unchanged: run without pending items

On regular runs:
  - failed: run with a failure
  - changed: run with only successes
  - unchanged: run without changes attempted

So the ambiguous state was 'u

[2016-08-31 19:41] corey-hammerton commented on #103
What we can do for the Report and Node type is this:

- If `noop` == `false` use that status field value (existing logic)
- If `noop` == `true` and the status field == `unchanged` set the object's status field to `unchanged`
- If `noop` == `true` and the status field != `unchanged` set the object's status field to `noop`

This would be released with 0.3.2 release and would still be backward compat

[2016-09-01 01:47] cintiadr commented on #103
It absolutely does.

Created the PR, but I couldn't find the tests for the node with_status tests.

What will happen is that Failures in noop runs (as, for example, just got one when doing 'zypper list-updates'), it will show up as 'noop' instead of the previous 'Failed'. I have no problem with that, as they both need attention.

[2016-09-01 02:04] cintiadr commented on #103
Actually no, scratch that.

If you run a noop, regardless if it will trigger changes or not, puppetdb returns on /nodes 'latest_report_noop = true' and 'latest_report_status = unchanged'. 'latest_report_noop_pending' is the only thing that appears to change.

On the reports/ endpoint, same deal. 'noop_pending' appear to be the only relevant difference. They were both included in 4.1.0, no?

If so,

[2016-09-01 06:45] cintiadr commented on #103
Thing is I couldn't really find easily any vagrant box or docker with puppetdb 3.x and 4.0.x, but looking at the code it feels to me it would work just like before, no? Because noop was only added on 4 series.

(I opened the pull request so it makes it simpler to comment)

[2016-09-12 00:59] #103 closed

[2016-10-04 00:21] corey-hammerton opened #107 "Looking for Volunteers"
I regret having to make this request. Due to changing circumstances in my life I will no longer be an active maintainer on this project. I still hope to contribute code but it will be at an infrequent rate. I have greatly enjoyed being a part of this project, helping to push it into the PuppetDB 3.x generation and beyone.

Anyone who wishes to step up please provide the following:
- [ ] Github use

[2016-10-13 01:25] cintiadr opened #108 "Unreported node shows as 'noop' for puppetdb > 4.1.0"
This is a bug on the PR I raised for #103.

If a node has a 'noop' status and go unreported, we keep reporting its status as 'noop'.

That doesn't happen for puppetdb < 4.1x, nor to other status (unchanged, failed or changed).

Of course, this is the code from master, not yet released to pip.

[2016-12-01 23:44] ts-mini opened #110 "Requests 2.12.3 causing issues"
The error:

[code]
forcing a 2.12.1 install works, so does adding a username and password into the connect:

[code]

[2016-12-02 10:06] steveclark72 commented on #110
I have also come across this issue.  Another potential fix is to check that username and password are strings before passing them in the optional auth parameter on the GET and POST methods (around line 322 in api.py).  If either are set to None then don't pass the auth parameter.

Apologies if my Python terminology is a bit garbled, but I'm new to Python.

[2017-01-27 14:20] #101 closed

[2017-01-30 15:57] #108 closed

[2017-01-30 16:35] mterzo commented on #107
Gonna close this since i'm helping out.  Of course we can always use additional aid.

[2017-01-30 16:35] #107 closed

[2017-02-01 10:48] stefanandres opened #114 "resources() does not work with AST query any longer (worked in 0.1.1)"
Hi,
we've been upgrading our puppet-3 to puppet-4 (so also the puppetdb).
With the upgrade of pypuppetdb, we do not get proper results any longer with pypuppetdb, even though the same query still works with curl:

This returns the proper results:
[code]

This results empty array:
[code]

I can reproduce that with 0.3.2 and 0.2.3.

[2017-02-01 10:51] daenney commented on #114
Ping @mterzo @corey-hammerton. I tried helping over IRC (they reached out to me first) but from everything that I can see the query being asked to execute through pypuppetdb and the CLI are identical and should yield identical results.

[2017-02-01 12:57] #35 closed

[2017-02-01 12:58] #30 closed

[2017-02-01 14:29] mterzo commented on #114
I don't have a class with Php, but I do have Apt.

[code]

I'm not at all familiar with what "used" to work, but in the resources if you specify the first argument, it expects a title, and adds an extra `/` to the URL and breaks the query.

[2017-02-01 14:37] stefanandres commented on #114
Ah, yes. That fixes it. Now we have to do db.resources(query) instead of db.resources('', query). Thanks :)

[2017-02-01 14:37] #114 closed

[2017-02-01 14:51] mterzo commented on #114
Still need the query= it's not the first Param

[2017-02-01 15:09] stefanandres commented on #114
Of course, this is what it actually looks like in our code, too. Thanks again!

[2017-02-02 18:11] mterzo commented on #110
How are you configuring user/pass authentication?  I just see RBAC in 4.3 and that's Token based.

[2017-02-02 20:11] redref commented on #110
The error according to stacktrace -
TypeError: sequence item 0: expected a bytes-like object, NoneType found

[2017-02-02 20:23] redref commented on #110
Impacted versions of requests : 2.12.2, 2.12.3
Versions 2.12.1 and 2.12.4 are ok.

[2017-02-02 22:29] mterzo commented on #110
Yeah, I get how / why it's broken.  I can't find the docs on how to configure puppetdb to use authentication other than RBAC and token.

[2017-02-03 08:43] redref commented on #110
Oh yeah, did not catch your thought the first time.
I looked into jetty configuration options (auth realm), but puppetdb shipped jetty does not consume them. Maybe some people (caring much about security) pushed puppetdb behind a proxy.

[2017-02-03 09:28] steveclark72 commented on #110
I have tried an fresh installation again this morning and 'pip install puppetboard' is now pulling in requests 2.13.0 which is working OK for me.  I am using the default authentication for PuppetDB with puppetboard.

[2017-02-03 10:33] mterzo commented on #110
The default settings is port 8080 and localhost.  I'm not sure where your authentication comes into play.

[2017-02-03 10:42] steveclark72 commented on #110
For me the authentication wasn't the problem.  I commented on this issue because puppetboard was not working at all when running the 'pip install puppetboard' command last December due to it pulling in requests 2.12.3.  This is now working with requests 2.13.0 so the issue appears to be fixed - at least in the guise that I saw it.

[2017-02-25 18:32] iamShantanu101 opened #118 "Getting this error while trying a basic tutorial"
Python 2.7.5 (default, Nov  6 2016, 00:28:07)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-11)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

...     print(node)
...
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/pypuppetdb/api.py", line 392, in nodes
    nodes = self._query('nodes', **kwargs)
  File "/usr

[2017-02-25 18:35] corey-hammerton commented on #118
What host/port is your PuppetDB instance running on?

[2017-02-25 19:36] iamShantanu101 commented on #118
You mean the server/port defined in puppetdb.conf which is in config directory?

[2017-02-25 19:47] corey-hammerton commented on #118
Pypuppetdb by default looks at localhost:8080 for the puppetdb instance. This can be configured through initializing parameters:

`db = connect(host=puppetdb, port=8081)`

There is no configuration file/directory associated with this project.

[2017-02-25 20:36] mterzo commented on #118
8081 is the ssl port. You will need to provide your puppetdb certs if you connecting to that port.

[2017-02-26 05:44] iamShantanu101 commented on #118
Well now it shows 'Name or service not known'. Does this mean there is some issue with PuppetDB configuration?

[2017-02-26 11:14] iamShantanu101 commented on #118
The hostname has to be FQDN which i'll get using hostname,right? I am using a remote host. Tried with this hostname and port 8081, but still getting connection refused.

[2017-02-26 12:49] corey-hammerton commented on #118
What host/port is your PuppetDB instance running? compared to the node your pypuppetdb code is running?

[2017-02-26 15:58] iamShantanu101 commented on #118
That works now. Maybe it was due to some misconfiguration.
But on trying InOperator(), I got this error:
NameError: name 'InOperator' is not defined

Whereas AndOperator() work fine.

[2017-03-02 06:39] #118 closed

[2017-03-04 14:05] iamShantanu101 opened #119 "How to query for facts value"
Is there any provision to check whether the fact which is being queried is true?
Ex json output. "name":"httpdrunning","value":"false"
something like this should be evaluated to true/false:
facts = node.fact('httpdrunning')

[2017-04-21 11:26] KlavsKlavsen commented on #119
@iamShantanu101 If you find the solution - remember to update issue with the solution you found - and close the issue. That way if anyone else has the same issue - and find your question - they get helped. Otherwise you're not playing nice.

[2017-04-21 16:09] iamShantanu101 commented on #119
@KlavsKlavsen Hey, got this working after specifying the desired value alongwith fact name. Closing the issue.

[2017-04-21 16:09] #119 closed

[2017-05-15 19:25] kirkins opened #121 "Print fact which may or may not exist?"
I made a[ SO question](http://stackoverflow.com/questions/43986987/puppetdb-python-script-get-fact-if-exists) for this but I think it's really specific to this library so I will post here.

I originally wanted to do something like this:

[code]
As directly using `node.facts('custom_fact')` crashes my script when it doesn't exist. But because `node.facts` isn't a normal object I can't use the `hasa

[2017-05-15 19:41] kirkins commented on #121
Ended up using this:

[code]

[2017-05-15 19:41] #121 closed

[2017-07-07 21:33] jrich523 opened #124 "pypi.org update"
A PR was done that updated the module to allow token based authentication. Now that we the code is updated and working correctly we need to get it published to pypi.

Thanks

[2017-10-11 11:55] Poil opened #128 "SSLVerify=None & InsecureRequestWarning"
Hi,

I think we should hide this warn "InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised" when using SSLVerify=None

Best regards

[2017-10-21 15:32] asagarshinde opened #129 "single fact query not returning value"
While trying to retrieve particular fact from node it returns the name and node rather than the value and node.

Fact: ipaddress/puppet.server.com

Fact: operatingsystem/puppet.server.com

[2017-11-13 06:35] smortex opened #130 "Latest release is tagged v3.3.3 instead of v0.3.3"
See:

* https://github.com/voxpupuli/pypuppetdb/releases
* https://github.com/voxpupuli/pypuppetdb/tree/v3.3.3

As far as I understand, this release should have been numbered `0.3.3` @mterzo, right?

[2017-12-08 16:28] duskglow opened #132 "Need support for json request body as well as POST"
There does not appear to be support for passing a JSON query string through the request body, even if the POST request_method is selected.  This would be nice functionality, as in our use case the query strings can get VERY big (and have already required us to bump the max query length in puppetdb).

Thanks.

[2017-12-11 07:53] smortex commented on #130
I also guess that downgrading a version is a bad idea™, and future releases of this project should be `>3.3.3` :thinking: ?

Should people packaging this software for operating-systems anticipate a future revert (that is should we package the tag `v3.3.3` as `pypuppetdb-0.3.3` or as `pypuppetdb-3.3.3`)?

[2017-12-11 08:45] mterzo commented on #130
Yeah, tags just wrong.

[2017-12-11 08:47] mterzo commented on #130
PyPi was released as 0.3.3 which is what's important.

I've fixed the tag, thanks for the catch.

[2017-12-11 08:47] #130 closed

[2017-12-11 08:48] mterzo commented on #124
This was in 0.3.3 release into pypi.

[2017-12-11 08:48] #124 closed

[2018-01-26 20:05] thehilll opened #133 "ssl_verify on Ubuntu 16.04"
Hello,

On Ubuntu 16.04 hen following your instructions to trust our puppet CA given here:

https://pypuppetdb.readthedocs.io/en/v0.1.0/quickstart.html#ssl

and setting `ssl_verify=True` I get no data and an error:

`(Caused by SSLError(SSLError(1, u'[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:661)'),))`

if I omit `ssl_verify` I get the query result and an `InsecureRequestW

[2018-01-26 20:21] mterzo commented on #133
It's more about the version of python and some of the SSL library packages that came with 2.7.
ssl_verify is either False, or a path to the SSL key chain.

PuppetDB runs on 2 ports 8080 on localhost and 8081 on all interfaces.  If you are on the local machine you use the 8080 URL and you do not need any sort of SSL Key.  If you are remove you will need to use 8081 for SSL and you will have to prov

[2018-01-26 20:31] thehilll commented on #133
These are all remote (curl and pypuppetdb), and each of them explicitly specified port 8081.

But you are right, this is really just a documentation issue...using ssl_verify='/path to ssl' is really easier than importing the puppet CA certificate into the host trusted certs.

Thanks.

[2018-02-16 08:12] smortex commented on #130
@mterzo the wrong tag is still on GitHub:
* https://github.com/voxpupuli/pypuppetdb/releases
* https://github.com/voxpupuli/pypuppetdb/releases/tag/v3.3.3

`git push origin :refs/tags/v3.3.3`?

[2018-04-06 16:47] xakraz opened #135 "Implement other endpoints"
PyPuppetDB implement mainly the `pdb/query/` endpoint.

It would be nice to have the others alos:
* https://puppet.com/docs/puppetdb/4.4/api/admin/v1/cmd.html
* https://puppet.com/docs/puppetdb/4.4/api/command/v1/commands.html
* ...

[2018-06-13 19:38] kelbyers commented on #132
We have run into an issue with a very large query where PuppetDB responds with an HTTP 414 error, like so:
```HTTPError: 414 Client Error: URI Too Long for url```

If we use the same query that causes this message and specify `request_method='POST'`, then the query is not honored, and results are returned as if we did not specify any query filters. If we modify the code in pypuppetdb to put the qu

[2018-07-10 23:16] dwoldenberg1 opened #140 "Mixed use of single and double quotes in QueryBuilder output"
Need to standardize the usage of single and double quotes in the string output of each Operator Object

[2018-08-02 17:27] #140 closed

[2018-08-10 21:01] dwoldenberg1 opened #141 "New Release"
Would it be possible to make a new official python release of the package anytime soon?

[2018-08-20 20:23] bastelfreak commented on #141
Hey @mterzo, can you look into this?

[2018-09-26 13:31] TJM opened #143 "ssl_verify"
While connect's `ssl_verify` *can* be True or False (per the documentation), it can also be the path to a CA Certificate (PEM), or a directory with multiple CA certificates, processed with c_rehash (from OpenSSL). It actually, probably, should default to `/etc/puppetlabs/puppet/certs/ca.pem` rather than "True" ... then the documentation could be updated to no longer indicate the need to mess with

[2018-11-05 18:57] internaught commented on #129
Seeing this here too. How are we supposed to get the values from these facts?

[2018-11-22 16:45] kelbyers commented on #141
Hey, any updates on this?

[2019-01-19 15:31] InTheCloudDan commented on #141
I just found this project, wondering if it's still active and worth investing time in using it?

[2019-02-14 22:36] westbywest commented on #141
The FromOperator in the most recent commit, in particular, would be pretty integral to typical use cases for subqueries.  New release v3.4 or so would at least get that published to pypi.org.
https://github.com/voxpupuli/pypuppetdb/commit/cedeecf48014b4ad5b8e2513ca8230c814f45603

[2019-03-09 10:51] gdubicki commented on #141
Can we get new release please?

[2019-04-05 18:32] #110 closed

[2019-04-26 17:03] nmaludy commented on #135
+1

[2019-05-26 11:09] bastelfreak commented on #141
Hi. I need a review on https://github.com/voxpupuli/pypuppetdb/pull/147. After that got merged, we can do a new release. If one of you feels confident with python, please review that PR.

[2019-05-26 11:09] #141 closed

[2019-07-25 18:08] othalla commented on #143
@TJM can you provide the PR regarding the documentation?

[2019-07-25 18:09] othalla commented on #135
@xakraz @nmaludy do you have some time to write the code?

[2019-07-25 18:17] TJM commented on #143
I am on a different project now, but I will eventually rotate back to that customer. :)

[2019-09-05 17:36] sergiik opened #158 "requirements-test.txt is missed in pypuppetdb-1.1.0.tar.gz from https://pypi.org/simple/pypuppetdb/"
`wget https://files.pythonhosted.org/packages/30/d0/15605e4476cb634251cc04e10ad50caaf566586b9cccf7de6c73014b5c4f/pypuppetdb-1.1.0.tar.gz#sha256=4a02dd45a398b30a940bb019b110bbd741c2a5a2772186a7c3c2faca0b0a41e3`

[code]

As you see there is no **requirements-test.txt** but it's required by  [setup.py](https://github.com/voxpupuli/pypuppetdb/commit/d54b4544c812b9d30facb6a8fbe2160c66c7b622)

[2019-09-21 15:59] bastelfreak commented on #158
Hi,
do you have any idea why it is missing in the release? It exists within the git tag:
[code]

[2019-09-22 18:02] #158 closed

[2019-09-30 16:17] initrd opened #161 "Nodes that have errors during runs should not be marked "Unchanged""
Carrying over an issue from [Puppetboard #449](https://github.com/voxpupuli/puppetboard/issues/449) - nodes that show errors during runs are marked as "Unchanged" in Puppetboard. While technically that is correct, it does not reflect their true state. These nodes should show up as "Failed", or under a new label "In error".

Opening this issue for pypuppetdb since [comments](https://github.com/voxp

[2019-09-30 18:01] bastelfreak commented on #161
Hi @initrd, thanks for raising this issue. Are you able to provide a pull request for this?

[2019-09-30 22:14] initrd commented on #161
Not at all familiar with the codebase :) Some pointers would help, thank you!

[2019-11-13 02:28] Serverislife opened #165 "PyPuppetDB seeing colons in URL as '%3a'"
Hello all,

I'm not sure if this is a PyPuppetDB issue or not, but I have this weird problem. In my Python script, I've got these set for getting time date group:
[code]
Which is intended to look something like: `2019-11-12T14:49:11`. And this set for query:
[code]
And give that query to inventory like this:
`node_list = pdb.inventory(query=query)`. However, I get an error from the server for a ba

[2019-11-13 02:54] Serverislife commented on #165
Disregard the above thoughts. It seems like the query and query.add functions aren't being honored? I just noticed that the URL isn't a valid query. It's missing the operator and the parameter to look for, it just has the value.

[2019-11-13 03:02] Serverislife commented on #165
Fixed a typo, now it's telling me that
[code]

[2019-11-13 03:44] Serverislife commented on #165
I got it figured out, we just upgraded, and the parameter I was trying to query for doesn't exist.

Thanks for being my rubber duck :)

[2019-11-13 03:44] #165 closed

[2019-11-19 12:05] faxm0dem opened #167 "expose pql API"
I'd like to use the pql API, but it's currently protected _

[2019-11-19 20:07] bastelfreak commented on #167
Hi @faxm0dem. Can you provide a PR for this to make it configureable?

[2019-11-20 15:07] faxm0dem commented on #167
what do you mean configurable? either it's public, or not
I can make a PR for exposing the pql so we can use:

[code]

[2019-12-12 16:21] 6uhrmittag commented on #129
I just found it via trial and error:

You get values like this(here it's the fact `hostname`):

[code]

[2020-01-01 23:09] smortex commented on #130
@mterzo the tag is still showing on GitHub.  Can you please unlist it?

[2020-01-01 23:54] smortex commented on #130
Problem is now solved for good (via freenode). Thanks!

[2020-02-19 19:25] b4ldr commented on #161
@initrd i tried to recreate this with the following script however whenever i see an `err` in the logs tags the status is correctly set to 'failed'

[code]

example output

[code]

We could try something like the following but it feel a bit hacky
[code]

[2020-02-19 19:53] b4ldr commented on #143
perhaps we should update the docs to state that it supports a string, however im not sure that we should change the default as the localcacert us distro dependent e.g. on debian its /var/lib/puppet/ssl/certs/ca.pem

[2020-02-19 20:00] b4ldr commented on #133
this is similar to #143

[2020-02-19 20:02] b4ldr commented on #132
can this be closed now !137 is merged?

[2020-02-23 16:09] kelbyers commented on #132
Yes, this can be closed. I'm not sure why it wasn't closed earlier, as I thought the text `this closes issue #132` should have automatically taken care of it.

[2020-02-23 18:02] #132 closed

[2020-03-13 20:33] sigv opened #172 "BaseAPI.metric queries v1 metrics incompatible with latest Puppet Server 6.x and 5.x"
`metric()` currently uses [v1 metrics](https://puppet.com/docs/puppetserver/6.3/metrics-api/v1/metrics_api.html) instead of [v2 (Jolokia) metrics](https://puppet.com/docs/puppetserver/6.3/metrics-api/v2/metrics_api.html). The v1 metrics API has been deprecated for a while and as of Puppet Server releases [6.9.1](https://puppet.com/docs/puppetserver/latest/release_notes.html#puppet-server-691) and

[2020-03-14 10:39] bastelfreak commented on #172
thanks for bringing this up! Are you able to provide a patch for this?

[2020-03-14 16:42] sigv commented on #172
I do not have a patch as of right now, but should be able to put one together for review.

[2020-03-15 07:17] #172 closed

[2020-03-16 08:50] sigv commented on #172
What is the project's schedule for releases?
If there is not a set schedule, when could a point release be expected with the merged change?

[2020-03-16 10:50] kevinbarbour opened #174 "RPM Build Fails due to missing requirements-test.txt"
The setup.cfg contains configuration for building an rpm via `setup.py bdist_rpm`. This fails due to the setup script requiring `requirements-test.txt` but `MANIFEST.in` and therefore the generated `pypuppetdb.egg-info/SOURCES.txt` do not include that file.

[code]

[2020-03-16 15:45] bastelfreak commented on #174
Hi @barbourkd, thanks for raising this issue. Are you able to provide a PR for this?

[2020-03-16 15:49] barbourkd commented on #174
Yeah, happy to. I can put one in tomorrow.

Not sure what the preferred fix is though. I got it working for my purposes by just including the file in the manifest, but would it be preferable to change the setup scripts so that the requirements-test.txt isn’t necessary for the RPM packaging?

[2020-04-08 15:27] faxm0dem commented on #167
Hi, I'm still not clear on what you're asking

[2020-04-21 13:37] Rewerson commented on #161
@b4ldr so could your solution be merged into master?

[2020-04-21 13:40] b4ldr commented on #161
@Rewerson i'd prefer someone more familiar with this code to make that call, although im not sure who that is.  perhaps @bastelfreak ?

[2020-06-09 22:50] azbarcea opened #180 "Use PQL when searching for nodes with certain facts"
When having a large infrastructure, iterating through all nodes is not efficient.

Wondering if a translation cannot be done to use PQL so that the results are limited to only the list of nodes.

Uses: _expose PQL API_: #167

[2020-06-09 23:02] azbarcea commented on #180
will work on a PR !

[2020-09-09 09:46] marszip commented on #161
We are experiencing the same issues, is it possible to look into this?

[2020-09-11 13:21] rushi47 opened #183 "How to use node.facts"
Am trying to use node.facts, my assumption was it will return all the facts attached to node but it just gives object of puppet type which is not iterable. Also i tried doing dir(node.facts) but i was unable to find anything helpful. Whats the proper way to get all facts attached to Node ?

Please let me know if some more info is needed

Thanks a lot in advance :)

[2020-10-09 14:30] b4ldr commented on #183
@rushi47 facts is a method i.e. facts().  the following works

[code]

[2020-10-10 16:20] lelutin opened #184 "Documentation should contain a section for object and parameter documentation"
The code currently has some specially-formatted comments that add some metadata to the code about function parameters and other details.

but the current documentation has none of that and is hiding all of the complex use cases that one can achieve with the library. it would be nice to gather all of the code's metadata into some technical documentation about all classes of this library

[2020-10-10 16:22] lelutin commented on #184
just for one example, the current documentation only mentions who to call `connect()` without arguments, but there are a bunch of them that can help with connecting to anything non-localhost and non-plaintext:

https://github.com/voxpupuli/pypuppetdb/blob/master/pypuppetdb/__init__.py#L66

and the docstring to that function contains information about all parameters

[2020-10-10 16:27] lelutin commented on #184
oh ... hmm I guess I went too fast. this seems to be the role that this section fills in: https://pypuppetdb.readthedocs.io/en/latest/api.html

[2020-10-10 16:27] #184 closed

[2020-10-13 05:29] rushi47 commented on #183
Thanks a lot @b4ldr :)

[2020-10-13 05:29] #183 closed

[2020-11-03 18:35] ngmmatos opened #186 "connection problem with encrypted certificate"
I'm trying to make a connection, using an encrypted certificate. I put the password for decryption in the password field (in the connection arguments), and even then I get an error message:

(Caused by SSLError ('The client's private key is encrypted, password is required')

[2020-11-03 19:05] #186 closed

[2020-11-03 19:17] ngmmatos opened #187 "Encrypted private key"
I wonder if there is any way to work with the encrypted private key. I didn't find anything about it in the documentation.
When working directly with the puppet API, it is possible to make a connection informing the url, certificate, private key and password for decrypting the key. Via pypuppetdb is it possible to do something like this?

[2021-02-26 20:55] gdubicki opened #193 "Add support for a config file"
It would be cool if this library could read the PuppetDB URL, certificate and key paths and [all other connect parameters](https://github.com/voxpupuli/pypuppetdb/blob/e6fffd5/pypuppetdb/__init__.py#L66-L68) from a config file.

This would allow easier writing of cli tools using this library as they could all share a common configuration, out of the box.

I propose to use [the same path and config

[2021-02-26 21:10] gdubicki commented on #193
I would extend the [pattern of the PuppetDB cli's configuration file order](https://github.com/puppetlabs/puppetdb-cli/blob/main/man/puppetdb_conf.pod#description) with reading also `./puppetdb.conf`, if it is present.

This would allow the users of multiple PuppetDBs (like testing and production instances) to easily switch between them by `cd`-ing to the appropriate directory with the right confi

[2021-02-27 12:51] gdubicki commented on #174
Hi @kevinbarbour !

We have recently deprecated and removed the code for building RPMs as it was outdated and we had no official RPMs built with the library anyway. Therefore I am closing this issue.

But if you can provide a PR that restores the config for building RPMs properly then we will be happy to review and merge. :)

[2021-02-27 12:51] #174 closed

[2021-02-27 12:52] gdubicki commented on #187
Hi @ngmmatos ! This is not possible as of now but we are open to a PR that would add this feature. :)

[2021-02-27 12:59] gdubicki commented on #143
I think that #171 didn't cover everything as we also have info about `ssl_verify` here https://github.com/voxpupuli/pypuppetdb/blame/master/docs/connecting.rst#L50-L63 and there is nothing about being able to pass a path to a CA file there.

So we should also update that piece of docs to resolve this issue.

[2021-02-27 13:07] gdubicki commented on #128
Hi @Poil !

I disagree that this should be disabled in the pypuppetdb itself as that warning is valid. Unverified SSL certificate means that you encrypt the communication but forfeit the verification that you are actually talking to the party you want to talk.

But you can easily disable this warning in your code with this:
[code]

[2021-02-27 13:07] #128 closed

[2021-02-27 13:10] gdubicki commented on #5
If this issue is open for so long and we are not fixing it, then apparently the errors are not in such a bad shape after all. ;) Therefore I am closing this issue to not scare the users. :) Please feel free to reopen if you think it is still needed, @daenney .

[2021-02-27 13:10] #5 closed

[2021-02-27 13:11] gdubicki commented on #133
I would say that this is a duplicate of #143, so I will close this. But feel free to reopen if you disagree. :)

[2021-02-27 13:11] #133 closed

[2021-03-05 06:56] gdubicki commented on #167
Hey @faxm0dem ! We are open to the PR that will expose this API. :)

[2021-03-16 16:03] gdubicki commented on #167
I created a draft PR with PQL API here: #201

[2021-03-20 21:24] gdubicki commented on #161
The change from #170 is a step in the right direction for pypuppetdb ...but it won't be enough to fix the Puppetboard issue.

In Puppetboard the list of nodes with their statuses would have to make an extra query for each node to get its latest report to determine if the status wasn't in facts "error". That would most probably cause a big performance drop.

It would make the most sense to make thi

[2021-03-21 09:26] #161 closed

[2021-03-21 09:28] gdubicki commented on #180
Thanks for reporting this @azbarcea !

If you don't have the time to create the PR, can you share you idea what exactly would you improve - which queries, which views? Maybe someone else will implement it based on your suggestions. :)

[2021-03-21 12:52] gdubicki commented on #143
This should be fixed by improved docs from https://github.com/voxpupuli/pypuppetdb/pull/201.

[2021-04-05 07:54] gdubicki opened #202 "Creating Edge objects doesn't work"
The code at:

https://github.com/voxpupuli/pypuppetdb/blob/9905db582232be1626fd9b89e716f2d9802b1f44/pypuppetdb/api.py#L648-L649

...cannot work according to my knowledge (and my IDE) - `resources` is a method in `BaseAPI`.

A simple test script:

[code]

...does in fact fail with:

[code]

[2021-04-15 08:28] #143 closed

[2021-04-15 08:28] #202 closed

[2021-04-15 08:41] #129 closed

[2021-04-15 09:21] gdubicki commented on #167
Released in v2.4.0.rc1. Please feel free to test it, @faxm0dem !

[2021-04-15 09:21] gdubicki commented on #180
`pql()` method has been added in v2.4.0.rc1. Please feel free to test it, @azbarcea !

[2021-06-23 15:00] Victor-D opened #212 "How to exclude puppet noop in query"
Hello guys

Is there a way to exclude puppet entries where noop == True ?

My python code is something like that :

[code]

and I tried things like that but I get a 400 Bad Request :

[code]

Thanks for your help
Victor

[2021-09-05 11:17] gdubicki commented on #167
Done with the release of final v2.4.0.

[2021-09-05 11:17] #167 closed

[2021-09-05 11:18] gdubicki commented on #180
This should be done with the release of final v2.4.0.

[2021-09-05 11:18] #180 closed

[2022-04-07 08:23] pgajdos opened #227 "use unittest.mock instead of mock"
Could you please consider to utilize unittest.mock instead of mock, as a fallback at least?

[2022-04-07 08:42] gdubicki commented on #227
Hi @pgajdos! Why would we want that?

[2022-04-07 08:48] pgajdos commented on #227
I think it could be considered nice to drop dependencies which are not required.

[2022-04-07 09:05] pgajdos commented on #227
Background: https://trello.com/c/S6eADbii/64-remove-python-mock

[2022-04-07 09:35] gdubicki commented on #227
Oh, then sure. Can you create PR for this as you already investigated the subject?

[2022-04-08 11:38] pgajdos commented on #227
Done: #228

[2022-04-09 09:22] gdubicki commented on #227
Thanks again @pgajdos! Released in [v2.5.2](https://github.com/voxpupuli/pypuppetdb/releases/tag/2.5.2).

[2022-04-09 09:22] #227 closed